extends layout

block content
    p This is a demo for Express talking to SQLite. Here's what's in it for you:
    ul
        li 
            a(href="table") DB Tables Overview
            |  -- Rudimentary index and raw data overview interface for the database.
