doctype html
html
    head
        title #{title} · Express Demo
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.barwrap
            div.bar.vign 
                a(href="/") Express Demo
            div.bar.title #{title}
        block content
        div.barwrap
            div.bar.title &nbsp;
