extends layout

block content
    table
        tr
            th= name
        if all_rows
            each row in all_rows
                tr
                    td= JSON.stringify(row)
        else
            tr.error: td Table doesn't exist or is empty
    a(href="..") < Back to Tables
    
