body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, "Segoe UI", sans-serif;
}

a {
    color: #009ac9;
}

.barwrap {
    color: white;
    font-weight: bold;
    margin: 14px -20px;
    display: block;
    overflow: hidden;
    white-space: nowrap;   
}

.bar {
    padding: 0 20px;
    height: 2ch;
    background-color: black;
}

.vign {
    display: inline-block;
    font-weight: normal;
    margin-right: 20px;
    height: 100%;
}

.vign a {
    color: inherit;
    text-decoration: inherit;
}

.title {
    display: inline-block;
    width: 100%;
    height: 100%;
}

td {
    background-color: #ddd;
    padding: 1px 1em;
    min-width: 80px;
}

tr.error td {
    background-color: transparent;
    border: 1px #aaa solid;
    color: #aaa;
    font-style: italic;
    text-align: center;
}
